################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AccessToken/version1/.vs/
/AccessToken/version1/Release/
/AccessToken/version1/Debug/
/AccessToken/version1/x64/
/AccessToken/version2/.vs/
/AccessToken/version2/Release/
/AccessToken/version2/Debug/
/AccessToken/version2/x64/
/AccessToken/version3/.vs/
/AccessToken/version3/Release/
/AccessToken/version3/Debug/
/AccessToken/version3/x64/
/PIPETest/.vs/
/PIPETest/Debug/
/PIPETest/Release/
/PIPETest/x64/